@page "/v/{path}"
@model UploadPreviewModel
@{
    ViewData["Title"] = "File Preview";
}

<div class="navbar">
    <img class="pulse animated infinite" src="~/img/Logo4.png">
    <strong>Name: @Model.Upload.Filename</strong>
    <strong>Type: @Model.Upload.ContentType</strong>
</div>

<main class="main">
    <center>
        @if (Model.Upload.ContentType.IsImageContentType())
        {
            <img src="@Model.GetRelativeDownloadUrl()" />
        }
        else if (Model.Upload.ContentType.IsTextContentType())
        {
            <a>@Model.DataString</a>
        }
        else if (Model.Upload.ContentType.IsHtmlContentType())
        {
            <ul>@Html.Raw(Model.DataString)</ul>
        }
        else
        {
            <strong style="font-size: 48px;">This file type does not support preview!</strong>
        }
    </center>
</main>

<div class="viewarea">
    <button onclick="location.href = '@Model.GetRelativeDownloadUrl(directDownload: false)';" class="viewbutton">
        <img src="~/img/eye.png">
    </button>
</div>

<div class="dlarea">
    <button onclick="location.href = '@Model.GetRelativeDownloadUrl(directDownload: true)';" class="dlbutton">
        <img src="~/img/Download.png">
    </button>
</div>

@section Head{

    <meta property="og:site_name" content="Fileshare" />
    <meta property="og:description" content="Nice file innit, eh?" />

    @if (Model.Upload.ContentType.IsImageContentType())
    {
        <meta property="og:image" content="@Model.GetRelativeDownloadUrl()" />
        <meta property="og:image:type" content="@Model.Upload.ContentType" />
    }
    else if (Model.Upload.ContentType.IsVideoContentType())
    {
        <meta property="og:video" content="@Model.GetRelativeDownloadUrl()" />
        <meta property="og:video:type" content="@Model.Upload.ContentType" />
    }
}

@section Scripts{
    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="~/js/theme.js"></script>
}