@page "/v/{path}"
@model UploadPreviewModel
@{
    ViewData["Title"] = "File Preview";
}

<nav class="navbar navbar-dark bg-white text-monospace d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-end portfolio-navbar gradient" style="width: 100%;height: 5%;">
    <div class="container-fluid">
        <img class="pulse animated infinite" src="~/img/Logo4.png" style="opacity: 1;filter: blur(0px) brightness(141%) contrast(116%) grayscale(0%) hue-rotate(0deg) invert(0%) saturate(123%) sepia(0%);width: 76px;">
        <strong class="text-monospace" style="font-size: 24px;">Name: @Model.Upload.Filename</strong>
        <strong style="font-size: 24px;">Type: @Model.Upload.ContentType</strong>
    </div>
</nav>
<main>
    <center>
        @if (Model.Upload.ContentType.IsImageContentType())
        {
            <img src="@String.Format("data:{0};base64,{1}",Model.Upload.ContentType,Convert.ToBase64String(Model.Data) )" />
        }
        else if (Model.Upload.ContentType.IsTextContentType())
        {
            <a>@Model.DataString</a>
        }
        else if (Model.Upload.ContentType.IsHtmlContentType())
        {
            <ul>@Html.Raw(Model.DataString)</ul>
        }
        else
        {
            <strong style="font-size: 48px;">This file type does not support preview!</strong>
        }
    </center>
</main>

<div id="dlbutton">
    <button onclick="location.href = '@Model.GetDownloadUrl()';" class="dlbtn"><i class="fa fa-download"></i></button>
</div>

@section Scripts{
    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="~/js/theme.js"></script>
}